/* Enter your custom CSS here */
.container {
    color: #666;
}

h2 {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #f07c17;
    font-weight: bold;
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
}

.nonimage {
    margin: 28px 0 0 0;
    padding: 10px 0 0 30px;
    border: 1px solid #ccc;
}

.nonimage-ul {
    font-size: 17px;
    padding: 18px 0 33px 40px;
}

.nonimage-ul-li {
    margin: 8px 0 0 0;
    font-weight: bold;
}

.col-md-7 {
    top: -22px;
}

.main-text {
    position: inherit;
    top: 19px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 32px;
}